extends layout

block content
    script(src="/javascripts/editcode.js")

    form(action='/search' method="POST" id="searchByName")
        label(for="searchName") Search by Author 
        input(name="searchName" id="searchName")

        button(type="submit") Search! 

    h1= title
  
    -
        var list = data

    if (list != null)
        each item in list
            div(class="entry")
                h1= item.title
                h2= item.author
                p= item.content 

            div
                form(action="/delete", method="POST")
                    input(class="invisible" name="delete_id" value=item.blog_id)
                    button(type="submit") Delete

            button(onclick="showEdit()" id="showEditButton") Edit

            div(class="edit" id="editFields" class="invisible")
                form(action="/edit", method="POST")
                    input(name="update_id" class="invisible" value=item.blog_id)

                    label(for="author") Updated Author?
                    input(name="author" id="author" value=item.author)

                    label(for="title") Updated Title?
                    input(name="title" id="title" value=item.title)

                    div
                        label(for="content") Updated Content?
                        br()
                        textarea(name="content" id="content" rows="5" cols="60")=item.content
                    br
                    button(type="submit") Update Entry!